/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 */

@import './fonts.scss';
// open_sans_lightregular
// open_sansbold
// open_sans_semiboldregular
// open_sansregular

* {
   margin:0; 
   padding:0;
}

#root {
   height: 100%;
   width: 100%;
   margin: 0px;
}

.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }
 
 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: fade 0.5s ease forwards;
 }

 @keyframes fade {
    0%{opacity: 0}
    100%{opacity: 1}
 }

 .other-modal {
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   text-decoration: none;
   color: #007791;
   font-weight: 500;
 }

 .session-forms-login {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   line-height: 1.43;
   color: #29303b;
   background-color: #fff;
   margin: 0;
   height: 300px;
   width: 300px;
   padding: 25px;
   border-radius: 10px;
 }

 .session-forms-signup {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   line-height: 1.43;
   color: #29303b;
   background-color: #fff;
   margin: 0;
   height: 450px;
   width: 300px;
   padding: 25px;
   border-radius: 10px;
 }

 .form-header {
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   /* margin-bottom: 145px; */
 }

 .form-box {
   display: flex;
   align-items: center;
   border: 1px solid #cacbcc;
   padding: 13px;
   border-radius: 5px;
 }

 .form-credentials {
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 18px;
   border: none;
   outline: none;
 }

 .credentials-submit {
   background-color: #ec5252;
   color: white;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   height: 45px;
   width: 300px;
   border-radius: 3px;
   border: none;
   font-size: 15px;
   outline: none;
 }

 .credentials-submit:hover {
    background-color: darkred;
    outline: none;
 }

 .credentials-submit:active {
    background-color: #3b0b0b;
    outline: none;
 }

 .line {
    background-color: #E8E8E8;
    height: 1px;
    width: 100%;
 }

 .greeting {
    display: flex;
    border-radius: 100%;
    background-color: gray;
    color: white;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
 }

 .account {
    display: flex;
    flex-direction: row;
 }

.logout {
   color: white;
   background-color: #ec5252;
   border: 1px solid #ec5252;
   padding: 1px;
   border-radius: 5px;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 8px;
   outline: none;
   height: 15px;
   width: 35px;
 }

.logout:hover {
   background-color: darkred;
}

.logout:active {
   background-color: #3b0b0b;
   outline: none;
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   height: 65px;
   }

.logo {
   font-size: 23px;
   color: white;
   padding-left: 3px;
   padding-right: 3px;
   background-color: #ec5252;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-decoration: none;
}

.header-logo {
   display: flex;
   height: 50px;
   font-size: 18px;
   color: #655B52;
   font-weight: bolder;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: auto;
   align-items: center;
   text-decoration: none;
}

.login {
   color: #686f7a;
   background-color: #fff;
   padding: 11px;
   border: 1px solid #686f7a;
   border-radius: 2px;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   outline: none;
}

.login:hover {
   border: 1px solid black;
   color: black;
}

.signup {
   color: white;
   background-color: #ec5252;
   border: 1px solid #ec5252;
   padding: 11px;
   border-radius: 2px;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   outline: none;
}

.signup:hover {
   background-color: darkred;
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   justify-content: space-between;
   width: 147px;
}

.header-categories {
   display: flex;
   align-items: center;
   color: #686f7a;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 14px;
}

.header-search-bar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: #686f7a;
   background-color: #E8E8E8;
   height: 45px;
   border-radius: 2px;
   width: 405px;
   border: none;
}

.search-input {
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   border: none;
   outline: none;
   background-color: #E8E8E8;
   height: 20px;
   width: 340px;
   font-size: 14px;
   margin-left: 9px;
}

.magnifying-icon {
   height: 15px;
   width: 15px;
}

.search-submit {
   display: flex;
   justify-content: center;
   height: 45px;
   width: 45px;
   background-color: #E8E8E8; 
   border: none;
   outline: none;
   margin-left: 10px;
   font-size: 15px;
}

.search-submit:hover {
   background-color: #13ADAD;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   filter: invert(100%);
}

.categories-icon {
   height: 15px;
   width: 15px;
   padding-right: 5px;
}

.cart-icon {
   height: 30px;
   width: 30px;
   border-radius: 100%;
   padding: 6px;
}

.cart-icon:hover {
   background-color: #DCDCDC;
}

.splash {
   display: flex;
   flex-direction: column;
   background-image: url('https://images5.alphacoders.com/320/thumb-1920-320927.jpg');
   height: 550px;
   width: 100%;
}
.splash2 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-image: url('https://wallpapertag.com/wallpaper/full/8/0/b/442864-cool-light-purple-backgrounds-1920x1080-for-iphone.jpg');
   height: 80px;
   width: 100%;
}

.header-text1 {
   color: white;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 40px;
   margin-top: 13%;
   margin-left: 5%;
}

.header-text2 {
   color: white;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 18px;
   margin-left: 5%;
}

.mouse-icon {
   filter: invert(100%);
   height: 40px;
   width: 40px;
}

.splash2-textbox {
   display: flex;
   flex-direction: column;
}

.splash2-textbox2 {
   display: flex;
   flex-direction: column;
   margin-left: 13px;
}

.splash2-text {
   color: white;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
}

.splash2-text2 {
   color: white;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
}

.checkbox-icon {
   filter: invert(100%);
   height: 45px;
   width: 40px;
}

.clock-icon {
   filter: invert(100%);
   height: 45px;
   width: 45px;
}

.splash2-box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 275px;
   align-items: center;
}

.splash2-box2 {
   display: flex;
   flex-direction: row;
   width: 275px;
   align-items: center;
}

.course-main-header {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   height: 65px;
	box-shadow: 0 1px 8px -4px black;
}

.course-header {
   display: flex;
   align-items: center;
   background-color: #29303b;
   height: 275px;
}

.course-header-divider {
   height: 44px;
   width: 100%;
}

.course-header-textbox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   height: 200px;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   margin-left: 80px;
   width: 60%;
}

.course-title {
   font-size: 38px;
}

.course-description {
   font-size: 20px;
}

.course-quick-info {
   font-size: 16px;
}

.header-description {
   display: flex;
   flex-direction: row;
   padding-top: 10px;
   justify-content: space-between;
   width: 52%;
}

.star-rating {
   height: 15px;
   width: 61px;
}

.header-description-2 {
   display: flex;
   flex-direction: row;
   padding-top: 10px;
   justify-content: space-between;
   width: 47%;
}

.wyl-main {
   display: flex;
   flex-wrap: wrap;
   margin-top: 40px;
   margin-left: 70px;
   background-color: #f9f9f9;
   border: 1px solid #dedfe0;
   padding: 10px 15px;
   color: #29303b;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   width: 718px;
   height: 320px;
}

.wyl-header {
   font-size: 22px;
   margin: 0 0 10px;
   font-weight: 500;
}

.wyl-sections {
   display: flex;
   margin-top: 15px;
   flex-wrap: wrap;
   width: 80%;
   justify-content: space-between;
}

.checkmark {
   height: 15px;
   width: 15px;
   filter: invert(75%);
   margin-right: 15px;
}

.wyl-each-section {
   display: flex;
   width: 285px;
   margin-bottom: 15px;
   height: 52px;
}

.requirements-main {
   width: 718px;
   height: 195px;
   color: #29303b;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   margin-left: 70px;
   margin-top: 50px;
}

.requirements-header {
   font-size: 22px;
   font-weight: 500;
}

.requirements-sections {
   margin-left: 23px;
   margin-top: 13px;
}

.each-requirement {
   margin-top: 12px;
}

.course-description-main {
   width: 718px;
   color: #29303b;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   margin-left: 70px;
   margin-top: 35px;
}

.course-description-header {
   font-size: 22px;
   font-weight: 500
}

.course-description-body {
   margin-top: 12px;
   line-height: 150%;
}

.who-main {
   width: 718px;
   color: #29303b;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   margin-left: 70px;
   margin-top: 45px;
}

.who-header {
   font-size: 18px;
   font-weight: 500
}

.who-bullets {
   margin-left: 44px;
   margin-top: 14px;
   line-height: 145%;
}

.each-who-bullet {
   margin-bottom: 2px;
}

.footer {
   height: 200px;
}

.right-side {
   position: sticky;
   display: flex;
   flex-direction: row-reverse;
   top: 0px;
   right: 0px;
   height: 1000px;
   width: 800px;
   background-color: blue;
}

// .sticky-holder {
//    position: absolute;
//    top: 179px;
//    right: 69px;
//    z-index: 3000;
//    background-color: #13ADAD;
//    height: 1000px;
//    width: 1000px;
// }

.course-fixed-info {
   position: absolute;
   top: 179px;
   bottom: 0px;
   right: 69px;
   z-index: 3000;
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
   background-color: white;
   border-radius: 4px;
   color: #505763;
   padding: 3px;
   font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   line-height: 1.43;
   height: 775px;
   width: 355px;
   box-shadow: 0px 3px 5px -3px black;
}